@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
}

header {
  padding: 10px;
  /*background-image: url(images/blue60percent.png);*/
  background-color: #091540;
  height: 10vh;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

#introcontainer {
  height: 100vh;
  background-image: url(images/bluemeg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* TEXT STYLING */

header h1 {
  font-family: 'DM Serif Text', serif;
  color: #FFFFFF;
  font-size: 30px;
  margin: none;
  padding-left: 20px;
}

.name h1 {
  color: white;
  font-size: 70px;
  line-height: 25%;
}

.name h3 {
  font-family: 'DM Serif Text', serif;
  color: #091540;
  border-radius: 5px 15px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
}

/* NAVIGATION BAR */

.navigation {
  padding-right: 15px;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.navigation ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation li {
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
  font-family: 'Roboto' sans-serif;
}

.navigation a {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: normal;
}

.navigation p {
  color: #FFFFFF;
}

.navigation a:hover {
  animation: spaceout 0.5s;
  letter-spacing: 2px;
}

/* INTRO STYLING */

.name {
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
}

.downarrow {
  margin-bottom: 10vh;
  padding-top: 20vh;
  justify-content: center;
  text-align: center;
}

/* ABOUT ME SECTION STYLING */

#aboutme {
  background-color: #F8F9FA;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-column-gap: 5vw;
  grid-template-areas:
   "o o o"
   "q w e";
   min-height: 100vh;
   padding-top: 10vh;
   padding-bottom: 10vh;
   padding-left: 10vh;
   padding-right: 10vh;
}

.aboutmeheader {
  grid-area: o;
  justify-content: center;
  text-align: center;
}

.whoiam {
  grid-area: q;
  justify-content: center;
  text-align: center;
}

.whereivebeen {
  grid-area: w;
  justify-content: center;
  text-align: center;
}

.whereimgoing {
  grid-area: e;
  justify-content: center;
  text-align: center;
}

.aboutme ul, p {
  font-size: 18px;
  text-align: left;
}

.aboutme li {
  list-style-position: outside;
  padding-left: 5px;
}


/* WORK STYLING */

#work {
  background-color: #091540;
  color: #F5F5F5;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-column-gap: 5vw;
  grid-template-areas:
   "w1 w1 w1"
   "t u v";
   padding-left: 5vh;
   padding-right: 5vh;
   min-height: 100vh;
   padding-top: 10vh;
   padding-bottom: 10vh;
}

.workheader {
  grid-area: w1;
}

.workleft {
  grid-area: t;
}

.workcontent {
  grid-area: u;
}

.workright {
  grid-area: v;
}

.activecontent {
  visibility: visible;
}

.hiddencontent {
  visibility: hidden;
}

/* SKILLS STYLING */

#skills {
  background-color: #F8F9FA;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#skillgrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-areas:
    "sh1 s1 s2 s3"
    "sh2 s4 s5 s6"
    "sh3 s7 s8 s9";
    padding-left: 3vw;
    padding-right: 3vw;
}

.skillbox {
  padding: 5px;
  margin: 10px;
}

.skillsheader1 {
  grid-area: sh1;
}

.skill1 {
  grid-area: s1;
  background-color: yellow;
}

.skill2 {
  grid-area: s2;
  background-color: green;
}

.skill3 {
  grid-area: s3;
  background-color: yellow;
}

.skillsheader2 {
  grid-area: sh2;
}

.skill4 {
  grid-area: s4;
  background-color: blue;
}

.skill5 {
  grid-area: s5;
  background-color: orange;
}

.skill6 {
  grid-area: s6;
  background-color: pink;
}

.skillsheader3 {
  grid-area: sh3;
}

.skill7 {
  grid-area: s7;
  background-color: blue;
}

.skill8 {
  grid-area: s8;
  background-color: orange;
}

.skill9 {
  grid-area: s9;
  background-color: pink;
}


/*
#skills {
  background-color: #F8F9FA;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-
  grid-template-rows: 0.1fr 0.5fr 0.5fr;
  grid-template-areas:
  "s s s s"
  "sh1 s1 s2 s3"
  "sh2 s4 s5 s6";
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 6vw;
  padding-right: 6vw;
}

.skillsheader1 {
  grid-area: sh1;
  width: 15vw;
  padding-left: none;
  margin-right: none;
}

.skillsheader2 {
  grid-area: sh2;
  width: 15vw;
  padding-left: none;
  margin-right: none;
}

.skillbox {
  justify-content: center;
  background-color: white;
  border-radius: 5px 20px;
  padding: 5px;
  text-align: center;
  width: 20vw;
}

#skills p {
  font-family: 'DM Serif Text', serif;
}

.skills1 {
  grid-area: s1;
}

.skills2 {
  grid-area: s2;
}

.skills3 {
  grid-area: s3;
}

.skills4 {
  grid-area: s4;
}

.skills5 {
  grid-area: s5;
}

.skills6 {
  grid-area: s6;
}
*/

/* PORTFOLIO STYLING */

#portfolio {
  background-color: #B8C5F5;
  margin: 0px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.portfolioheader button {
  font-size: 18px;
  background-color: #091540;
  color: #FFFFFF;
  margin: 10px;
  border-radius: 5px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px #FFFFFF;
  font-family: 'DM Serif Text', serif;
}

.clipscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 4vw;
  grid-template-areas:
   "c1 c2 c3"
   "c4 c5 c6";
   margin-left: 3vw;
   margin-right: 3vw;
   margin-top: 3vh;
}

.clip {
  background-color: #FFFFFF;
  text-align: center;
  width: 28vw;
  margin: 5px;
  padding: 5px;
  box-shadow: 4px 4px #091540;
}

.clip:hover {
  box-shadow: 5px 5px 5px #091540;
  animation: shadowbox 500ms;
}

.clip p {
  font-size: 15px;
}

.clip1 {
  grid-area: c1;
}

.clip2 {
  grid-area: c2;
}

.clip3 {
  grid-area: c3;
}

.clip4 {
  grid-area: c4;
}

.clip5 {
  grid-area: c5;
}

.clip6 {
  grid-area: c6;
}

/* CONTACT SECTION */

#contact {
  background-color: #091540;
  margin: 0px;
  padding: 5vh;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
}

#contact a {
  margin: 2vw;
  display: inline;
}

/* TEXT */

h1 {
  font-size: 45px;
  font-family: 'DM Serif Text', serif;
}

h2 {
  font-size: 30px;
  font-family: 'DM Serif Text', serif;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

h4 { /*TEXT USED FOR SECTION HEADERS*/
  color: #091540;
  background-color: #FFFFFF;
  border-radius: 5px 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h5 {
  font-size: 22px;
  text-align: center;
  font-family: 'DM Serif Text', serif;
}

p {
  margin: 5;
}

.downarrow p {
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

.hidethis {
  visibility: hidden;
}

/* SOCIAL LINKS */

.whiteicon {
  color: #FFFFFF;
}

.blueicon {
  color: #091540;
}

.iconimg {
  height: 70px;
  width: auto;
}

.iconimg:hover, .icon:hover {
  animation: tada;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

/* ANIMATIONS */

.goDown:hover {
  animation-name: bobbledown;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

.goUp, .goDown, .goLeft, .goRight, .classesGoUp, .clipGoUp {
  position: relative;
}

@keyframes bobbledown {
  0%{top: 0px;}
  50%{top: 10px;}
  100%{top: 0px;}
}

@keyframes bobbleup{
  0%{bottom: 0px;}
  50%{bottom: 10px;}
  100%{bottom: 0px;}
}

@keyframes bobbleleft {
  0%{right: 0px;}
  50%{right: 10px;}
  100%{right: 0px;}
}

@keyframes bobbleright {
  0%{left: 0px;}
  50%{left: 10px;}
  100%{left: 0px;}
}

@keyframes fadein {
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}

@keyframes fadeout {
  0%{opacity: 100%;}
  100%{opacity: 0%;}
}

@keyframes spaceout {
  0% {letter-spacing: normal;}
  100% {letter-spacing: 2px;}
}

@keyframes shadowbox {
  0%{box-shadow: 4px 4px #091540;}
  100%{box-shadow: 5px 5px 5px #091540;}
}

/* RESIZING */

@media (max-width: 1024px) {

}

@media (max-width: 700px) {
  .intro h1 {
    font-size:30px;
  }
