@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto&display=swap');

/* CONTAINERS */

.thewholedamnthing {
  background-color: #091540;
}

#introcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  height: 100vh;
  grid-template-areas:
   "a b c"
   "d d d";
   background-image: url(images/bluemeg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.contentcontainer {
  display: grid;
  grid-template-columns: 0.05fr 2fr 0.05fr;
  grid-template-rows: 1fr;
  grid-template-areas:
   "k l o";
  height: 100vh;
  overflow-x: scroll;
}

.middlecontainer {
  grid-area: l;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 0.06fr 1fr;
  grid-template-areas:
   "t k"
   "x y";
}

.expandedContainer {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "h p"
  "m n";
  height: 100vh;
}

/* FILLER CONTENT */

.AboutMeHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.AboutMeHeader a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.AboutMeContent {
  grid-area: y;
  padding-left: 10px;
  text-align: center;

}

.educationHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.educationContent {
  grid-area: y;
  padding: 10px;
  text-align: left;
  justify-content: left;
}

.workHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.workContent {
  grid-area: y;
  padding: 20px;
}

.skillsHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.skillsContent {
  grid-area: y;
  padding: 10px;
}

.clipsHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.clipsContent {
  grid-area: y;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.clipsContent ul {
  list-style-type: none;
}

/* ARROWS */

.leftArrow {
  grid-area: k;
  text-align: center;
  justify-content: center;
  padding-top: 40vh;
  padding-left: 5px;
}

.rightArrow {
  grid-area: o;
  text-align: center;
  justify-content: center;
  padding-top: 40vh;
  padding-right: 5px;
}

.anotherBlankContainer {
  grid-area: h;
}

.upClassesContainer {
  grid-area: p;
}

.classesHeader {
  grid-area: m;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding-right: 10px;
}

.classesContent {
  grid-area: n;
  justify-content: left;
  text-align: left;
  padding-left: 15px;
  height: 100%;
}

.classesGoUp {
  color: #091540;
  padding-left: 20vw;
}

.yetanotherBlankContainer {
  grid-area: h;
}

.upDailyContainer {
  grid-area: p;
}

.dailyHeader {
  grid-area: m;
  text-align: center;
  justify-content: center;
  height: 90vh;
  padding-right: 10px;
}

.dailyContent {
  grid-area: n;
  justify-content: left;
  text-align: left;
  padding-left: 15px;
  height: 90vh;
}

.dailyGoUp {
  color: white;
  padding-left: 20vw;
}

/* TEXT */

h1 {
  font-size: 45px;
  font-family: 'DM Serif Text', serif;
}

h2 {
  font-size: 30px;
  font-family: 'DM Serif Text', serif;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.aboutMeHeader h6 {
  color: white;
  font-size: 10px;
  position: sticky;
  bottom: 0;
}

.name h3 {
  font-family: 'DM Serif Text', serif;
  color: #091540;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.downarrow p {
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.educationContent, .workContent h5 {
  line-height: 35%;
}

h4 {
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
}

#clipscontainer h4 {
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
  color: #091540;
}

#clipscontainer h4{
  color: #091540;
  font-size: 18px;
}

#clipscontainer p {
  color: #091540;
}

h5 {
  font-family: 'DM Serif Text', serif;
  font-style: ;
  font-size: 15px;
}

h6 {
  font-family: 'DM Serif Text', serif;
  font-size: 13px;
}

.AboutMeSpan:hover, .EducationSpan:hover, .WorkSpan:hover, .SkillsSpan:hover, .ClipsSpan:hover {
  text-decoration: underline;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

ul {
  font-family: 'Roboto', sans-serif;
  line-height: 115%;
}


a {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.educationContent a {
  color: #091540;
}

.readme a {
  text-decoration: none;
}


/* DIVS */

.readme {
  grid-area: a;
  /*background-color: #091540;*/
  text-align: center;
  padding-left: 20px;
}

.name {
  grid-area: b;
  /*background-color: #091540;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.name h1 {
  color: white;
  font-size: 70px;
  line-height: 25%;
}

.contact {
  grid-area: c;
  /*background-color: #091540;*/
  text-align: center;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.contact ul{
  list-style: none;
  justify-content: center;
  align-items: center;
}

.contact a {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}

.downarrow {
  grid-area: d;
  text-align: center;
  justify-content: center;
}

.blankcontainer {
  grid-area: t;
}

.upArrow {
  grid-area: k;
  text-align: left;
  justify-content: left;
  padding: 5px;
  padding-left: 20vw;
}

/* STYLES */

.underline {
  text-decoration: underline;
}

.placeholder {
  display: none;
}

.bottomfeeder {
  bottom: -95vh;
  position: fixed;
}

.indent{
  text-indent: 25px;
}

.headshot {
  height: 200px;
  width: auto;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

.clipsContent button {
  color: white;
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #B8C5F5;
  margin: 15px;
  border: 8px #091540;
  text-shadow: 1.1px 1.1px #091540;
  box-shadow: 5px 5px #091540;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
}

.blue {
  background-color: #091540;
  color: white;
}

.purple {
  background-color: #9883e5;
  color: white;
}

.white {
  background-color: white;
  color: #091540;
}

/* SOCIAL LINKS */

.whiteicon {
  color: white;
}

.blueicon {
  color: #091540;
}

.iconimg {
  height: 70px;
  width: auto;
}

.iconimg:hover, .icon:hover {
  animation: tada;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

/* ANIMATIONS */

.goUp:hover, .dailyGoUp:hover, .classesGoUp:hover, .clipGoUp:hover {
  animation-name: bobbleup;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

.goDown:hover {
  animation-name: bobbledown;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

.goLeft:hover {
  animation-name: bobbleleft;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

.goRight:hover {
  animation-name: bobbleright;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

.goUp, .goDown, .goLeft, .goRight, .classesGoUp, .clipGoUp {
  position: relative;
}

.workContent a:hover {
  animation: bobbledown;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
}

@keyframes bobbledown {
  0%{top: 0px;}
  50%{top: 10px;}
  100%{top: 0px;}
}

@keyframes bobbleup{
  0%{bottom: 0px;}
  50%{bottom: 10px;}
  100%{bottom: 0px;}
}

@keyframes bobbleleft {
  0%{right: 0px;}
  50%{right: 10px;}
  100%{right: 0px;}
}

@keyframes bobbleright {
  0%{left: 0px;}
  50%{left: 10px;}
  100%{left: 0px;}
}

.animated__fadeOutUp {
  animation: fadeOutUp;
}

.animate__fadeInUp {
  animation: fadeInUp;
}

@keyframes fade {
  0%{opacity:1;}
  100%{opacity: 0.8;}
}

@keyframes fadeIn {
  0%{opacity:0%;}
  100%{opacity:100%;}
}

/* RESIZING */

@media (max-width: 1024px) {
    .viewer {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       grid-template-areas:
          "d e"
          "f g";
}

@media (max-width: 700px) {
  .intro h1 {
    font-size:30px;
  }
  #container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 0.2fr 0.3fr;
     grid-template-areas:
      "a b"
      "c c";
  }
    .viewer {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
       grid-template-areas:
          "d"
          "e"
          "f"
          "g";
  }
