@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto&display=swap');

/* CONTAINERS */

.thewholedamnthing {
  background-color: #091540;
}

#introcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  height: 100vh;
  grid-template-areas:
   "a b c"
   "d d d";
   background-image: url(images/bluemeg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.contentcontainer {
  display: grid;
  grid-template-columns: 0.05fr 2fr 0.05fr;
  grid-template-rows: 1fr;
  grid-template-areas:
   "k l o";
  height: 100vh;
  overflow-x: scroll;
}

.middlecontainer {
  grid-area: l;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 0.06fr 1fr;
  grid-template-areas:
   "t k"
   "x y";

}

/* FILLER CONTENT */

.AboutMeHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
}

.AboutMeHeader a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.AboutMeContent {
  grid-area: y;
  padding-left: 10px;
  text-align: center;

}

.educationHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
}

.educationContent {
  grid-area: y;
  padding: 10px;
}

.workHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
}

.workContent {
  grid-area: y;
  padding: 20px;
}

.skillsHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
}

.skillsContent {
  grid-area: y;
  padding: 10px;
}

.clipsHeader {
  grid-area: x;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.clipsContent {
  grid-area: y;
  padding: 10px;
}

/* ARROWS */

.leftArrow {
  grid-area: k;
  text-align: center;
  justify-content: center;
  padding-top: 40vh;
  padding-left: 5px;
}

.rightArrow {
  grid-area: o;
  text-align: center;
  justify-content: center;
  padding-top: 40vh;
  padding-right: 5px;
}

/* TEXT */

h1 {
  font-size: 45px;
  font-family: 'DM Serif Text', serif;
}

h2 {
  font-size: 30px;
  font-family: 'DM Serif Text', serif;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.aboutMeHeader h6 {
  color: white;
  font-size: 10px;
  position: sticky;
  bottom: 0;
}

.name h3 {
  font-family: 'DM Serif Text', serif;
  color: #091540;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.downarrow p {
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
}

h5 {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-size: 15px;
}

h6 {
  font-family: 'DM Serif Text', serif;
  font-size: 13px;
}

p {
  font-family: 'Roboto', sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

ul {
  font-family: 'Roboto', sans-serif;
  line-height: 115%;
}


a {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.readme a {
  text-decoration: none;
}

/* DIVS */

.readme {
  grid-area: a;
  /*background-color: #091540;*/
  text-align: center;
  padding-left: 20px;
}

.name {
  grid-area: b;
  /*background-color: #091540;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.name h1 {
  color: white;
  font-size: 70px;
  line-height: 25%;
}

.contact {
  grid-area: c;
  /*background-color: #091540;*/
  text-align: center;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.contact ul{
  list-style: none;
  justify-content: center;
  align-items: center;
}

.contact a {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}

.downarrow {
  grid-area: d;
  text-align: center;
}

.blankcontainer {
  grid-area: t;
}

.upArrow {
  grid-area: k;
  text-align: left;
  justify-content: left;
  padding: 5px;
  padding-left: 20vw;
}

/* STYLES */

.italic{
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.placeholder {
  display: none;
}

.bottomfeeder {
  bottom: -95vh;
  position: fixed;
}

.indent{
  text-indent: 25px;
  line-height: 0;
}

.headshot {
  height: 200px;
  width: auto;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

button:hover {
  animation: whiteToPurple 600ms;
  color: #9883e5;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
}

.blue {
  background-color: #091540;
  color: white;
}

.purple {
  background-color: #9883e5;
  color: white;
}

.white {
  background-color: white;
  color: #091540;
}

/* SOCIAL LINKS */

.whiteicon {
  color: white;
}

.blueicon {
  color: #091540;
}

.iconimg {
  height: 70px;
  width: auto;
}

.icon:hover {
  animation: whiteToPurple 600ms;
  color: #9883e5;
}

/* ANIMATIONS */

.animated__fadeOutUp {
  animation: fadeOutUp;
}

.animate__fadeInUp {
  animation: fadeInUp;
}

@keyframes whiteToPurple{
  0%{color: white;}
  100%{color: #9883e5;}
}

@keyframes fade {
  0%{opacity:1;}
  100%{opacity: 0.8;}
}

@keyframes fadeIn {
  0%{opacity:0%;}
  100%{opacity:100%;}
}

/* RESIZING */

@media (max-width: 1024px) {
    .viewer {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       grid-template-areas:
          "d e"
          "f g";
}

@media (max-width: 700px) {
  .intro h1 {
    font-size:30px;
  }
  #container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 0.2fr 0.3fr;
     grid-template-areas:
      "a b"
      "c c";
  }
    .viewer {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
       grid-template-areas:
          "d"
          "e"
          "f"
          "g";
  }

  */
