@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 22vw 78vw;
  grid-template-rows: 100vh;
  grid-template-areas:
    "sidebar main";
}

/* FONTS */

h1 {
  font-family: 'DM Serif Text', serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 2vw;
}

/* DIVS */

#sidebar {
  grid-area: sidebar;
  overflow: hidden;
  background-color: #F5F5F5;
  color: #392B58;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "aboutme skills"
    "work clips";
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  padding: 2vw;
}

#clipsslideshow {
  position: relative;
}

.aboutme {
  grid-area: aboutme;
  background-color: #99D5C9;
}

#clipsslideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: white;
}

.skills {
  grid-area: skills;
  background-color: #6C969d;
}

.work {
  grid-area: work;
  background-color: #645E9D;
}

.clips {
  grid-area: clips;
  background-color: #392B58;
}


/* SIDEBAR STYLING */

#sidebar li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style-type: "\2014   ";
  transition: 500ms ease-in-out;
  margin-left: 3vw;
  margin-top: 1vw;
}

#sidebar li:hover {
  transform: translateX(1vw);
  color: #6C969D;
}

#sidebar a {
  color: inherit;
  padding: 0.2vw;
  transition: 500ms ease-in-out;
}

#sidebar a:hover {
  color: #6C969D;
}

#sidebar img {
  width: 12vw;
  height: auto;
  border-radius: 50%;
  border: 5px solid #392B58;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
}

.socials {
  text-align: right;
  top: 90vh;
  position: sticky;
}

#sidebar p {
  margin: 2vh;
}
