@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;500&display=swap');

svg {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#sidebar {
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  background-color: #F5F5F5;
  color: #392B58;
  height: 96vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  width: 18vw;
}

#main {
  height: 100vh;
  overflow: scroll;
  right: 0%;
  position: absolute;
  width: 78vw;
  margin: 0;
  background-color: #C0E8F9;
}

/* FONTS */

h1 {
  font-family: 'DM Serif Text', serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 2vw;
}

/* SIDEBAR STYLING */

#sidebar li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style-type: "\2014   ";
  transition: 500ms ease-in-out;
  margin-left: 3vw;
  margin-top: 1vw;
}

#sidebar li:hover {
  transform: translateX(1vw);
  color: #6C969D;
}

#sidebar a {
  color: inherit;
  padding: 0.2vw;
  transition: 500ms ease-in-out;
}

#sidebar a:hover {
  color: #6C969D;
}

#sidebar img {
  width: 12vw;
  height: auto;
  border-radius: 50%;
  border: 5px solid #392B58;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
}

.socials {
  text-align: right;
  top: 90vh;
  position: sticky;
}

#sidebar p {
  margin: 2vh;
}

/* SKY */

.sky {
  height: 15vw;
}

#sun {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background: rgb(251,95,63);
  background: radial-gradient(circle, rgba(251,95,63,1) 0%, rgba(252,204,70,1) 100%);
  box-shadow: 2px 2px 10px #000;
  transform: translateX(3vw);
  border: 10px solid rgba(252,204,70,0.3);
}

#cloud1 {
  position: absolute;
  left: 40vw;
  top: 10vh;
  transform: scale(0.75);
  z-index: 1;
}

#cloud2 {
  position: absolute;
  transform: scale(0.8);
  left: 80vw;
  top: 3vw;
}

#cloud3 {
  position: absolute;
  left: 100vw;
  top: 15vh;
  transform: scale(0.6);
}

/* SECTIONS */

#main > div {
  margin: 0;
  padding: 2vw;
  position: relative;
  z-index: 2;
/*  color: #f5F5F5; */
}

.clips {
  background-color: #392B58;
  text-align: center;
  color: #fff;
}

.clips button {
  border-radius: 0.7em;
  background-color: #6C969D;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  border: none;
  margin: 1vw;
}

#clipgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
   "a b c"
   "d e f";
}

#clipgrid > div {
  min-height: 10vw;
  width: 24vw;
  background-color: #f5f5f5;
  border-radius: 0.5em;
  color: #392B58;
  margin: 0.5vw;
}

#clipgrid h3 {
  font-size: 0.8em;
  font-family: 'DM Serif Text', serif;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#clipgrid h4 {
  font-size: 0.5em;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  margin-left: 1vw;
  margin-right: 1vw;
}

#clipgrid p {
  font-size: 0.75em;
  margin: 0;
  text-align: left;
  font-weight: 300;
  margin-left: 1vw;
  margin-right: 1vw;
}

#clipgrid a {
  text-decoration: none;
}

.clip img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.skills {
  background-color: #645E9D;
  box-shadow: 0px -3px 20px #292640;
}

.experience {
  background-color: #6C969D;
  box-shadow: 0px -3px 20px #293A3D;
}

.aboutme {
  background-color: #99D5C9;
  box-shadow: 0px -3px 20px #23574D;
  color: #23574D;
}

/* EXPANDING SECTIONS */

.expanded {
  height: 85vh;
}

.collapsed {
  height: 5vh;
  transition: 750ms ease-in-out;
}

.collapsed:hover {
  height: 8vh;
}

.collapsed > p {
  visibility: hidden;
  transition: 200ms ease-in-out;
}

/* MOUNTAINS */

#main svg {
  position: absolute;
  width: 85vw;
  height: auto;
  right: -2%;
  margin: 0;
  z-index: 2;
}

.clips svg {
  transform: translateY(-20vh);
}

.skills svg {
  transform: translateY(-14vh);
}

.experience svg {
  transform: translateY(-16vh);
}

/* ANIMATIONS */

@keyframes cloudbounce {
  0%{transform: translateY(0);}
  50%{transform: translateY(5vh);}
  100%{transform: translateY(0);}
}

/* RESPONSIVE */

@media (max-width: 1024px){


}

@media (max-width: 700px) {
  #sidebar {
    width: 100vw;
    min-height: 20vh;
    padding-top: 1vw;
    text-align: center;
    box-shadow: 0px -3px 20px #293A3D;
  }

  #sidebar img {
    display: none;
  }

  #sidebar li {
    list-style-type: " ";
    display: inline;
    margin: 2vw;
  }

  .mobileunderline {
    border-bottom: 2px solid #392B58;
  }

  .socials {
    text-align: center;
    position: relative;
    top: 0;
    margin: 2vw;
  }

  #main {
    min-height: 100vh;
    width: 100vw;
    position: relative;
  }

  svg, #sun {
    display: none;
  }

  #clipgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
     "a b"
     "c d"
     "e f";
  }

  #clipgrid > div {
    min-height: 10vw;
    width: 45vw;
  }

}
