
/* CAMPUS SECTION */

#campus {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "campus-a campus-b"
    "campus-a campus-c";
  grid-gap: 0.5vw;
  margin: 2vw;
  padding: 2vw;
  border-radius: 2vw;
  background-color: #E4DBA5;
}

.campushed {
  grid-area: campushed;
  border-bottom: double 4px #000;
}

.campus-a{
  grid-area: campus-a;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.campus-b {
  grid-area: campus-b;
  border-top-right-radius: 2vw;
}

.campus-c {
  grid-area: campus-c;
  border-bottom-right-radius: 2vw;
}

.podcast {
  border-bottom: double 4px #000;
  border-top: double 4px #000;
}

#explainers, #needtoknow {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left:0;
  margin-right: 0;
}

.explainercarousel, .needtoknowcarousel {
  white-space: nowrap;
  position: relative;
  max-width: 100%;
}

.explainercarousel {
  overflow: scroll;
}

.needtoknowcarousel {
  overflow: hidden;
}

.explainerleft, .explainerright {
  z-index: 5;
  position: absolute;
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #FFF;
}

.explainerright {
  right: 2vw;
}

.explainerleft{
  left: 2vw;
}

.slidephoto {
  height: 50vh;
  width: auto;
}

.eslide {
  display: inline-block;
}

.needtoknowleft, .needtoknowright {
  z-index: 5;
  position: absolute;
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #FFF;
}

.needtoknowright {
  right: 2vw;
}

.needtoknowleft{
  left: 2vw;
}

.shownslide {
  display: inline-block;
}

.hiddenslide {
  display: none;
}


#campusending {
  grid-area: needtoknow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr;
  grid-template-areas:
    "campusendhed campusendhed campusendhed"
    "campus-d campus-e campus-f";
  grid-gap: 0.1vw;
  padding: 1vw;
}

.campusendhed {
  grid-area: campusendhed;
  border-bottom: double 4px #000;
  padding-bottom: 0;
  margin-bottom: 2vw;
}

.campus-d {
  grid-area: campus-d;
}

.campus-e {
  grid-area: campus-e;
}

.campus-f {
  grid-area: campus-f;
}

i {
  color: #000;
}

.slideleft {
  animation: slideleft 1 500ms ease-out;
}

@keyframes slideleft {
  0%{transform: translateX(0px);}
  100%{transform: translateX(-30vw);}

}
